# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. C++

Some of the commonly used libraries used by Data Scientists include:
1. dplyr
2. ggplot
3. scikit-learn
4. Caret

| Data Science Tools |
| ------------------ |
| RStudio |
| Apache Spark |
| Jupyter Lab |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

Objectives
+ List data science languages
+ List data science libraries
+ List data science tools
+ Multiply and add numbers
+ Convert minutes to hours

## Author
John Orczyk